@charset "utf=8";
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Asap", sans-serif;
  background-color: #22232e;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  background: rgba(34, 35, 46, 0.7);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 5%;
  z-index: 1;
}
.logo a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #00c2cb, 0px 0px 10px #00c2cb,
    0px 0px 20px #00c2cb, 0px 0px 20px #fff;
  letter-spacing: 0.5px;
}
nav ul {
  display: flex;
}
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 10px;
  padding: 0px 30px;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  color: #00c2cb;
  transition: 0.1s;
}
nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: #fff;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb,
    0px 0px 40px #00c2cb, 0px 0px 80px #fff;
}
#main {
  background-color: #22232e;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-text p:nth-child(1) {
  font-weight: 500;
  font-size: 30px;
  line-height: 0;
}
.main-text p:nth-child(2) {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #00c2cb, 0px 0px 10px #00c2cb,
    0px 0px 10px #fff;
}
.main-text p:nth-child(3) {
  font-size: 35px;
  line-height: 30px;
}
.main-text p:nth-child(4) {
  font-size: 20px;
  line-height: 20px;
}
.main-text {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}
.main-text p {
  color: #e0ffff;
  margin: 23px 0px 25px;
  line-height: 58px;
}

.main-text a,
.about a {
  width: 150px;
  height: 42px;
  outline: none;
  margin: 0px;
  padding: 0.8rem;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 200;
}
.portfolio-btn,
.down-cv {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #e0ffff;
  font-family: "Asap", sans-serif;
}
.down-cv:hover,
.portfolio-btn:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb,
    0px 0px 40px #00c2cb, 0px 0px 80px #fff;
}
.side-bar .side-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.side-bar .side-btn::before {
  background: #00c2cb;
}
.model {
  height: 560px;
  position: absolute;
  bottom: 0px;
  left: 70%;
  transform: translateX(-70%);
  filter: grayscale(30%);
}
.about {
  width: 75%;
  height: 350px;
  background-color: #22232e;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.about img {
  height: 250px;
}
.about-text {
  color: #e0ffff;
  width: 800px;
  text-align: center;
}
.about-text h1 {
  color: #00c2cb;
  font-weight: 600;
  font-size: 30px;
  line-height: 0px;
  padding-bottom: 1rem;
}
.about-text h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #00c2cb;
}
.about-text p {
  font-size: 20px;
  padding-bottom: 0.5rem;
}
#services {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  flex-direction: column;
}
.services-text h1 {
  font-weight: 600;
  color: #00c2cb;
  font-size: 30px;
  line-height: 0px;
}
.services-text h3 {
  font-weight: 500;
  color: #e0ffff;
  font-size: 25px;
  line-height: 7px;
}
.service-box {
  width: 300px;
  height: 320px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px;
  margin: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #22232e;
}
.service-box span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 40px;
  color: #e0ffff;
}
.service-box h2 {
  color: #00c2cb;
  font-size: 23px;
  line-height: 0px;
}
.service-box p {
  text-align: center;
  width: 230px;
  margin: 0px 0px 20px 0px;
  color: #e0ffff;
}
#skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto auto 50px auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto auto 50px auto;
}
.skill-text {
  width: 400px;
}
.skill-img {
  width: 600px;
  height: 600px;
  background-color: transparent;
}
.skill-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skill-heading span {
  color: #e0ffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.skill-heading h2 {
  color: #00c2cb;
  font-size: 3.3rem;
  margin-top: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}
.s-box-container {
  margin-top: 30px;
}
.skill-box {
  display: flex;
  margin: 0px;
}
.skill-box h3 {
  color: #00c2cb;
  margin: 0px;
  font-weight: 600;
}
.skill-box p {
  color: #e0ffff;
  font-weight: 500;
}
.fa-html5,
.fa-js-square,
.fa-css3-alt,
.fa-wordpress {
  padding-right: 5px;
  font-size: 20px;
}
.fa-html5 {
  color: #e06061;
}
.fa-css3-alt {
  color: #416cdf;
}
.fa-js-square {
  color: #f98231;
}
.fa-wordpress {
  color: #21759b;
}
#recent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  flex-direction: column;
  background-color: transparent;
}
.recent-heading span,
.client-heading span {
  color: #00c2cb;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
}
.recent-heading h3,
.client-heading h3,
#contact h3 {
  color: #e0ffff;
  font-size: 3rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}
.recent-heading h3 {
  padding-bottom: 1rem;
}
.project-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(34, 35, 46, 0.7);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  flex-wrap: wrap;
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.project-filter li {
  margin: 10px;
  padding: 5px 20px;
  color: #e0ffff;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-size: 400;
  cursor: pointer;
  user-select: none;
}
.project-filter li:hover,
.project-filter-active {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 3px;
  color: #fff;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb,
    0px 0px 40px #00c2cb, 0px 0px 80px #fff;
}
.project-container,
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.project-box {
  width: 310px;
  height: 350px;
  background-color: #22232e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.project-box img {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  object-fit: contain;
}
.project-box h2 {
  color: #00c2cb;
  font-weight: 500;
  margin: 10px;
  padding: 0;
}
.project-box p {
  text-align: center;
  margin: 0px auto;
  width: 90%;
  color: #e0ffff;
}
.project-box h5 {
  color: #00c2cb;
  font-size: 1rem;
  line-height: 0px;
}
.project-box a {
  align-items: center;
  color: #e0ffff;
  font-weight: 500;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  margin: 0px;
}
.project-box a:hover {
  color: #fff;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb,
    0px 0px 40px #00c2cb, 0px 0px 80px #fff;
}
.project-box:hover,
.service-box:hover,
.client-box:hover {
  transform: translateY(-5px);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}
#reviews {
  width: 100%;
  padding: 50px 0px;
  background-color: transparent;
}
.client-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.client-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.client-box {
  width: 310px;
  height: 350px;
  background: #22232e;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}
.client-box img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}
.star {
  display: flex;
  margin: 10px 0px 10px 0px;
}
.star i {
  color: #fff;
  text-shadow: 0px 0px 10px #ff9529, 0px 0px 10px #ff9529, 0px 0px 10px #ff9529,
    0px 0px 10px #ff9529;
}
.client-box p {
  color: #e0ffff;
  font-size: 0.9rem;
  margin: 0px;
  text-align: center;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.review-caption {
  text-align: center;
  color: #00c2cb;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0px;
  background-color: transparent;
}
#contact h3 {
  font-size: 2.5rem;
  margin: 20px;
}
.social-links a {
  padding: 1rem;
  font-size: 5rem;
}
.fa-whatsapp {
  color: #fff;
  text-shadow: 0px 0px 10px #25d366, 0px 0px 20px #fff, 0px 0px 20px #25d366,
    0px 0px 20px #fff;
}
.fa-facebook {
  color: #fff;
  text-shadow: 0px 0px 10px #3b5998, 0px 0px 20px #fff, 0px 0px 20px #3b5998,
    0px 0px 20px #fff;
}
.fa-telegram-plane {
  color: #fff;
  text-shadow: 0px 0px 10px #0088cc, 0px 0px 20px #fff, 0px 0px 20px #0088cc,
    0px 0px 20px #fff;
}
.fa-instagram {
  color: #fff;
  text-shadow: 0px 0px 10px #e1306c, 0px 0px 20px #fff, 0px 0px 20px #e1306c,
    0px 0px 20px #fff;
}
.fa-twitter {
  color: #fff;
  text-shadow: 0px 0px 10px #00acee, 0px 0px 20px #fff, 0px 0px 20px #00acee,
    0px 0px 20px #fff;
}
.fa-envelope {
  color: #fff;
  text-shadow: 0px 0px 10px #de5246, 0px 0px 20px #fff, 0px 0px 20px #de5246,
    0px 0px 20px #fff;
}
.fa-linkedin-in {
  color: #fff;
  text-shadow: 0px 0px 10px #0077b5, 0px 0px 20px #fff, 0px 0px 20px #0077b5,
    0px 0px 20px #fff;
}
.fa-github {
  color: #fff;
  text-shadow: 0px 0px 10px #6e5494, 0px 0px 20px #fff, 0px 0px 20px #6e5494,
    0px 0px 20px #fff;
}
.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-telegram-plane:hover,
.fa-whatsapp:hover,
.fa-envelope:hover,
.fa-linkedin-in:hover,
.fa-github:hover {
  transform: translateY(-1px);
  transition: all ease 0.2s;
  font-size: 5.1rem;
}
.fa-whatsapp:hover {
  color: #075e54;
}
.fa-telegram-plane:hover {
  color: #015c80;
}
.fa-instagram:hover {
  color: #ab2452;
}
.fa-twitter:hover {
  color: #0287ba;
}
.fa-facebook:hover {
  color: #213257;
}
.fa-envelope:hover {
  color: #7a2d26;
}
.fa-linkedin-in:hover {
  color: #213257;
}
.fa-github:hover {
  color: #372a4a;
}
footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #42455a;
}
.fa-smile-wink {
  color: #ff9529;
}
footer p {
  margin: 15px 0px;
  color: #e0ffff;
  font-size: 0.9rem;
}
nav .menu-btn {
  display: none;
}
.side-bar {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background: transparent;
  border-radius: 0px;
}
.side-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  line-height: 0px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: 0.5s;
  overflow: hidden;
}
.side-bar i {
  color: #e0ffff;
  font-size: 15px;
}
.side-bar a:hover i {
  color: #ffffff;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb,
    0px 0px 40px #00c2cb, 0px 0px 80px #fff;
  font-size: 20px;
}
.reveal {
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in-out;
}
.active.fade-left {
  animation: fade-left 1s ease-in-out;
}
.active.fade-right {
  animation: fade-right 1s ease-in-out;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }
  .model {
    height: 460px;
    left: 90%;
    transform: translateX(-90%);
  }
  .main-text {
    top: 46%;
  }
  .about {
    width: 90%;
    border-radius: 10px;
  }
  .about-text {
    width: 400px;
  }
}
@media (max-width: 1140px) {
  .content {
    width: 100%;
  }
  .model {
    height: 438px;
  }
  .main-text,
  .model {
    margin: 10px;
  }
  .main-text h1 {
    font-size: 3rem;
  }
  .skill-img {
    width: 400px;
    height: 400px;
  }
  .client-box {
    flex-grow: 0.5;
  }
}
@media (max-width: 900px) {
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .logo img {
    height: 35px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #22232e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #00c2cb;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon::before,
  nav .menu-icon .nav-icon::after {
    background: #00c2cb;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }
  nav .menu-icon,
  .nav-icon:after {
    top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }

  #skills {
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
  }
  .skill-text {
    width: 400px;
  }
  .skill-img {
    width: 40%;
    height: 300px;
  }
  .skill-img img {
    object-fit: cover;
    object-position: left;
  }
  .recent-heading,
  .client-heading,
  #contact h3 {
    font-size: 2.2rem;
    text-align: center;
  }
  .recent-heading {
    text-align: center;
    padding: 0px 15px;
  }
}
@media (max-width: 750px) {
  .model {
    display: none;
  }
  .about {
    top: 0px;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 30px 0px;
    align-items: center;
  }
  .about-text {
    width: 90%;
  }
}
@media (max-width: 720px) {
  .model {
    display: none;
  }
  .main-text {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #contact img {
    height: 200px;
  }
  footer {
    justify-content: center;
    padding: 10px 20px;
  }
  footer p {
    text-align: center;
  }
  .recent-btn {
    margin: 0px;
  }
}
@media (max-width: 530px) {
  .skill-img {
    display: none;
  }
  .skill-text {
    width: 85%;
  }
  #skills {
    margin: 0px;
  }
}
